section {
  margin: 50px 0;
}

.spazio {
  margin: 50px 0;
  width: 100%;
  height: 250px;
}

.icona {
  width: 80px;
  height: 80px;
  display: flex;
  text-align: center;
  font-size: 70px;
  margin: 15px auto;
  /* animation: bounce-top .9s forwards; */
}


.blocco {
  width: 70%;
  background-color: #567;
  min-height: 300px;
  margin: 10px auto;
  padding: 10px 0;
  position: relative;
  transition: 1s;

}

.blocco:before {
  content: '';
  position: absolute;
  height: 460px;
  z-index: -1;
  border-top: 5px solid #4e4;
  border-bottom: 5px solid #4e4;
  transform: skewY(15deg);
  transition: 0.5s ease-in-out;
  inset: -20px 40px;

}

.blocco:hover:before {
  transform: skew(46deg, 135deg);
  inset: 0px 0px;
  height: 400px;
}

.blocco:after {
  content: '';
  position: absolute;
  height: 100%;
  z-index: -1;
  border-left: 5px solid #4e4;
  border-right: 5px solid #4e4;
  transform: skewY(15deg);
  transition: 1s ease-in-out;
  inset: 40px -20px;
}

.blocco:hover:after {
  transform: skew(46deg, 133deg);
  inset: 0px 0px;
  height: 400px;
}

.blocco2 {
  width: 70%;
  background-color: #567;
  min-height: 300px;
  margin: 10px auto;
  padding: 10px 0;
  position: relative;
  transition: 1s;
}

.blocco2:before {
  content: '';
  position: absolute;
  height: 460px;
  z-index: -1;
  border-top: 5px solid #4e4;
  border-bottom: 5px solid #4e4;
  transform: skewY(15deg);
  transition: 1s ease-in-out;
  inset: -20px 40px;

}

.blocco2:hover:before {
  transform: skew(46deg, 135deg);
  inset: 0px 0px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  /* animation: rotate-hor-top .5s cubic-bezier(.645, .045, .355, 1.000) both */
}

.blocco2:after {
  content: '';
  position: absolute;
  height: 100%;
  z-index: -1;
  border-left: 5px solid #4e4;
  border-right: 5px solid #4e4;
  transform: skewY(15deg);
  transition: 1s ease-in-out;
  inset: 40px -20px;

}

.blocco2:hover:after {
  transform: skew(46deg, 133deg);
  inset: 0px 0px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  /* animation: rotate-hor-top .5s cubic-bezier(.645, .045, .355, 1.000) both */
}


/* .blocco3 {
  background-color: #ffca2c;
  width: 100%;
  min-height: 400px;
  padding: 25px 0;
  position: relative;
} */

.icona3 {
  padding: 20px 0;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 70px;
  margin: 10px auto;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 4px #2e2e2e;
  position: relative;
}

.icona3:hover {
  transition: 1s ease-in-out;
  /* transform: skew(15deg, 20deg); */
  transform: rotate(360deg);
  box-shadow: 0 0 0 6px #80C7FF;
  background-color: #80C7FF;
  width: 30%;
  overflow: hidden;
}

.testo3 {
  text-align: center;
  margin: 10px 0;
  padding: 10px 0;
  z-index: 99;
}

.testo3 p {
  font-size: 20px;
  font-family: 'Rubik Distressed', cursive;
  padding: 10px 0;
}

.bottone3 {
  text-align: center;
  padding: 15px 0;
  border: 1px solid #000;
  width: 50%;
  margin: 10px auto;
  background-color: #000;
  position: relative;
  transition: 1s;

}

.bottone3 a {
  font-family: 'Pacifico', cursive;
  text-decoration: none;
  color: #FF8080;

}

.bottone3 a:hover {
  color: #80C7FF;
}


.testo {
  text-align: center;
  margin: 10px 0;
}

.testo h3 {
  font-size: 50px;
  text-align: center;
}

.testo p {
  font-size: 15px;
  text-align: center;
  padding: 10px 0;
}

.bottone {
  text-align: center;
  padding: 15px 0;
  border: 1px solid #000;
  width: 40%;
  margin: 10px auto;
  background-color: #000;
  transition: 1s ease-in-out;
}

.bottone a:hover {
  color: #f00;
  text-decoration: none;
  font-size: 13px;
}

.bottone a {
  color: #f00;
  text-decoration: none;
  font-size: 13px;
}

.blocco3 {
  width: 70%;
  background-color: #FFE488;
  min-height: 300px;
  margin: 10px auto;
  padding: 10px 0;
  position: relative;
  transition: 1s;
}

.blocco3:hover {
  border: 0 0 0 0 solid #000;

}

.blocco3:before {
  content: '';
  position: absolute;
  height: 460px;
  z-index: -1;
  border-top: 5px solid #4e4;
  border-bottom: 5px solid #4e4;
  transform: rotate(0deg);
  transition: 1s ease-in-out;
  top: -8px;
  width: 100%;
  height: 104%;

}

.blocco3:hover:before {
  transform: rotate(360deg);
  height: 370px;
  top: -7px;
}

.blocco3:after {
  content: '';
  position: absolute;
  height: 460px;
  z-index: -1;
  border-left: 5px solid #4e4;
  border-right: 5px solid #4e4;
  transform: rotate(0deg);
  transition: 1s ease-in-out;
  top: -8px;
  width: 103%;
  height: 104%;
  /* right: -200px; */
  left: -5px;
}

.blocco3:hover:after {
  transform: rotate(360deg);
  height: 370px;
  top: -7px;
}



.blocco4 {
  width: 70%;
  background-color: #FFE;
  min-height: 300px;
  margin: 10px auto;
  padding: 10px 0;
  position: relative;
  transition: 1s;
  box-shadow: 0 0 0 0 #f33;
}

.blocco4:hover {
  box-shadow: 0 0 0 0px #f33;
}

.blocco4:before {
  content: '';
  position: absolute;
  box-shadow: 0 0 0 0px #f33;
  transform: rotate(0deg);
  left: 0;
  top: 0;
  width: 100%;
  height: 357px;
}

.blocco4:hover:before {
  transition: 1.5s ease-in-out;
  transform: rotate(360deg);
  box-shadow: 0 0 0 10px #f33;
  width: 100%;
  height: 100%;
  top: 0;
}

.blocco4:after {
  content: '';
  position: absolute;
  transform: rotate(360deg);
  box-shadow: 0 0 0 0px #f33;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: 1s ease-in-out;
  height: 358px;
}

.blocco4:hover:after {
  transition: 1.5s ease-in-out;
  box-shadow: 0 0 0 10px #f33;
  transform: rotate(0deg);
}



.bloccon {
  width: 70%;
  background-color: #FFE;
  min-height: 300px;
  margin: 10px auto;
  padding: 10px 0;
  position: relative;
  transition: 1s;
  /* animation-name: provamia;
  animation-duration: 5s;
  animation-delay: 1s; */
}

/* .bloccon:hover:before {
  animation-name: provamia;
  animation-duration: 5s;
  animation-delay: 1s;
} */

.bloccon:before {
  content: '';
  position: absolute;
  inset: 0px 0px;
  border-top: 28px solid #FFE;
  border-bottom: 28px solid #FFE;
  /* z-index: -1; */
  transition: 1s ease-in-out;
  width: 445px;
  height: 358px;
  transform: scale(0);
}

.bloccon:hover:before {
  animation: rotazione 1s ease-in-out forwards;
  animation-delay: 1s;
  border-top: 28px solid #8CFF85;
  border-bottom: 28px solid #8CFF85;
  transform: scale(1.1);
}

.bloccon:after {
  content: '';
  position: absolute;
  inset: 0px 0px;
  border-left: 28px solid #FFE;
  border-right: 28px solid #FFE;
  /* z-index: -1; */
  transition: 1s ease-in-out;
  width: 445px;
  height: 358px;
  transform: scale(0);
}

.bloccon:hover:after {
  animation: rotazione 1s ease-in-out forwards;
  animation-delay: 1s;
  border-left: 28px solid #8CFF85;
  border-right: 28px solid #8CFF85;
  transform: scale(1.1);
  /* transition-delay: 1s; */
}



.bloccoa {
  width: 70%;
  background-color: #FFE;
  min-height: 300px;
  margin: 10px auto;
  padding: 10px 0;
  position: relative;
  transition: 1s;
}

.bloccoa:before {
  content: '';
  position: absolute;
  inset: -17px 0px;
  border-top: 0px solid #3e3;
  border-bottom: 0px solid #3e3;
  z-index: -1;
  transition: 1s ease-in-out;
  width: 445px;
  height: 400px;
}

.bloccoa:hover:before {
  animation: caricamentotopbot 1s linear forwards;
  animation-delay: 1s;
  border-top: 28px solid #8CFF85;
  border-bottom: 28px solid #8CFF85;
}

.bloccoa:after {
  content: '';
  position: absolute;
  inset: -17px -28px;
  border-left: 0px solid #8CFF85;
  border-right: 0px solid #8CFF85;
  z-index: -1;
  transition: 1s ease-in-out;
  width: 501px;
  height: 400px;
}

.bloccoa:hover:after {
  animation: altezza 1s linear forwards;
  animation-delay: 2s;
  border-left: 28px solid #8CFF85;
  border-right: 28px solid #8CFF85;
  transform: scale(1);
}




.bloccopazzo {
  width: 70%;
  background-color: #FFE;
  min-height: 300px;
  margin: 10px auto;
  padding: 10px 0;
  position: relative;
  transition: 1s;
}

.bloccopazzo:before {
  content: '';
  position: absolute;
  inset: -17px 0px;
  border-top: 0px solid #3e3;
  border-bottom: 0px solid #3e3;
  z-index: -1;
  transition: 1s ease-in-out;
  width: 445px;
  height: 400px;
}

.bloccopazzo:hover:before {
  animation: rotate-center .01ms ease-in-out 2s infinite both;
  animation-delay: 1s;
  border-top: 28px solid #8CFF85;
  border-bottom: 28px solid #8CFF85;
}

.bloccopazzo:after {
  content: '';
  position: absolute;
  inset: -17px -28px;
  border-left: 0px solid #8CFF85;
  border-right: 0px solid #8CFF85;
  z-index: -1;
  transition: 1s ease-in-out;
  width: 501px;
  height: 400px;
}

.bloccopazzo:hover:after {
  animation: rotate-center .01ms ease-in-out 2s infinite both;
  animation-delay: 2s;
  border-left: 28px solid #8CFF85;
  border-right: 28px solid #8CFF85;
  transform: scale(1);
}



.caricamento {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;

}

.caricamento:before,
.caricamento:after {
  content: '';
  position: absolute;
  border-radius: inherit;
}

.caricamento:before {
  width: 200px;
  height: 200px;
  background-image: linear-gradient(0deg, #2cd9ff 0%, #7effb2 100%);
  transform: rotate(0deg);
  animation: cerchio 0.8s infinite linear;
}

.caricamento:after {
  width: 165px;
  height: 165px;
  background-color: #090909;
  top: 100px;
  left: 100px;
  transform: translate(-50%, -50%);
}

.testoamazon {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  color: #80C7FF;
  margin-left: 43px;
  position: relative;
  font-family: 'Pacifico';
}



@media screen and (max-width: 768px) {

  .blocco:before {
    border-bottom: 5px solid #000;
  }

  .blocco2:before {
    border-top: 0px solid #000;
  }

  .blocco:hover {
    border-radius: 50px;
    transition: 1s ease-in-out;
    background-color: aquamarine;
  }

  .blocco:before {
    content: '';
    position: absolute;
    z-index: -1;
    border-top: 5px solid #2e2e;

    transition: 0.5s;
    inset: -20px 40px;
  }


  .blocco:hover:before {
    border-top: 5px solid #f00;
    border-bottom: 5px solid #f00;
    transform: none;
    inset: -5px 0px;
    height: 407px;
    border-radius: 55px;
  }

  .blocco:after {
    content: '';
    position: absolute;
    height: 100%;
    z-index: -1;
    border-left: 5px solid #4e4;
    border-right: 5px solid #4e4;
    transition: 1s ease-in-out;
    inset: 40px -20px;
  }

  .blocco:hover:after {
    border-right: 5px solid #f00;
    border-left: 5px solid #f00;
    transform: none;
    inset: 0px -5px;
    border-radius: 55px;
  }

  .bottone:hover {
    transition: 1s ease-in-out;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    /* animation: rotate-hor-top .5s cubic-bezier(.645, .045, .355, 1.000) both */
  }


  .blocco2:hover {
    border-radius: 50px;
    transition: 1s ease-in-out;
    background-color: aquamarine;
  }

  .blocco2:before {
    content: '';
    position: absolute;
    z-index: -1;
    transition: 0.5s;
    inset: -20px 40px;
  }



  .blocco2:hover:before {

    border-top: 5px solid #f00;
    border-bottom: 5px solid #f00;
    transform: none;
    inset: -5px 0px;
    height: 407px;
    border-radius: 55px;
  }

  .blocco2:after {


    content: '';
    position: absolute;
    height: 100%;
    z-index: -1;
    border-left: 5px solid #4e4;
    border-right: 5px solid #4e4;
    transition: 1s ease-in-out;
    inset: 40px -20px;
  }

  .blocco2:hover:after {
    border-right: 5px solid #f00;
    border-left: 5px solid #f00;
    transform: none;
    inset: 0px -5px;
    border-radius: 55px;
  }


  .up {
    border-top: 5px solid#000;
  }


}


@media screen and (max-width: 450px) {



  .blocco:hover {
    transition: 1s ease-in-out;
    border-radius: 50px;
  }

  .blocco:before {
    display: none;
  }

  .blocco:hover:before {
    display: none;
  }

  .blocco:after {
    display: none;
  }

  .blocco:hover:after {
    display: none;
  }




  .blocco2:hover {
    transition: 1s ease-in-out;
    border-radius: 50px;
  }

  .blocco2:before {
    display: none;
  }

  .blocco2:hover:before {
    display: none;
  }

  .blocco2:after {
    display: none;
  }

  .blocco2:hover:after {
    display: none;
  }


}

/* @keyframes rotazione {
  0% {
    transform: rotate(360deg);
    opacity: 0;
  }

  50% {
    transform: rotate(360deg);
    opacity: 0.5;
  }

  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
} */

/* 
@keyframes provamia {
  from {
    background-color: #000;
  }

  to {
    background: color #5e32;
  }
} */

/* @keyframes provamia {
  0% {
    background-color: #4e4;
  }

  25% {
    background-color: #8E5CFF;
  }

  50% {
    background-color: #f00;
  }

  75% {
    background-color: #FF616B;
  }

  100% {
    background-color: #567;
  }
} */

/* @keyframes provamia {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }

  25% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }

  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }

  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }

  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
} */

@keyframes rotazione {
  from {
    transform: rotate(0deg) scale(1.1);
  }

  /* 25% {
    width: 0%;
  }

  50% {
    width: 50%
  }

  75% {
    width: 100%;
  } */

  to {
    transform: rotate(360deg) scale(1.1);
  }
}

@keyframes caricamentotopbot {

  0% {
    width: 100%;
    border-color: #8CFF85;
  }

  25% {
    width: 75%;
    border-color: #FFE488;
  }

  50% {
    width: 50%;
    border-color: #FFE488;
  }

  75% {
    width: 25%;
    border-color: #FFE488;
  }

  100% {
    width: 0%;
    border-color: #f00;
  }



}


@keyframes altezza {

  0% {
    height: 400px;
    border-color: #8CFF85;
  }

  25% {
    height: 75%;
    border-color: #FFE488;
  }

  50% {
    height: 50%;
    border-color: #FFE488;
  }

  75% {
    height: 25%;
    border-color: #FFE488;
  }

  100% {
    height: 0%;
    border-color: #f00;
  }

}

@keyframes rotate-center {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg)
  }
}


@keyframes cerchio {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* @keyframes bounce-top {


  
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1
  }

  24% {
    opacity: 1
  }

  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in
  }

  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in
  }

  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in
  }

  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in
  }

  25%,
  55%,
  75%,
  87% {
    transform: translateY(0);
    animation-timing-function: ease-out
  }

  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1
  }
} */